/* Estilos para el plugin Kobo Maps Integration */
.wrap h1 {
    margin-bottom: 20px;
}

.wp-list-table th, .wp-list-table td {
    text-align: left;
}

.form-table th {
    width: 200px;
}

.notice {
    margin-top: 20px;
}

.search-box {
    margin-bottom: 20px;
}

.button-primary {
    margin-right: 10px;
}

.kmi-shortcode-display {
    max-width: 100%;
    overflow: auto;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: monospace;
    word-wrap: break-word; /* Evita el desbordamiento */
}

.kmi-shortcode-display pre {
    white-space: pre-wrap; /* Permite que el texto se ajuste */
    word-wrap: break-word;
    margin: 0; /* Elimina el margen adicional */
}
